@charset "utf-8";
@import "../_vars.scss";
@import "../_mixins.scss";

/***** Dropdown Select */

.select-box {
    position: relative;
    display: block;
    background: #333;
    border: 1px solid #101010;
    border-radius: 2px;
    min-width: $min-control-box-width;
    height: 39px;
    margin: 5px 0 10px 0;
    text-indent: 0;
    cursor: pointer;
    text-align: left;
    vertical-align: middle;
    @include transition(0.3s ease background-color);
    @include user-select(none);
    @media (min-width: $screen-sm) {
        display: inline-block;
        margin: 0 10px 0 0;
    }

    .display {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 30px 0 12px;
        line-height: 37px;
        background: #333333;
        white-space: nowrap;
        @include transition(0.3s ease background-color);
    }
    .value,
    .title {
        display: inline-block;
        @include transition(0.3s ease opacity);
        vertical-align: middle;
        line-height: 37px;
    }
    .value {
        opacity: 0;
        &:before {
            content: ' - ';
        }
    }
    &.has-value {
        .value {
            opacity: 1;
        }
    }
    .select-button {
        @include transition(0.25s ease);
        position: absolute;
        display: block;
        right: 7px;
        top: 13px;
        width: 17px;
        height: 12px;
        text-indent: -9000px;
        z-index: 5;
        background: url('../img/sprite.png') no-repeat top left;
        background-position: 0 -13px;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background: url('../img/sprite-retina.png') no-repeat top left;
            background-size: 32px 208px;
        }
    }
    &>ul {
        @include transition(0.25s ease opacity, 0.3s ease background-color);
        display: block;
        position: absolute;
        left: -1px;
        right: 1px;
        top: 37px;
        height: 0;
        max-height: 275px;
        min-width: 100%;
        background: #333333;
        overflow: auto;
        overflow-x: hidden;
        z-index: 500000;
        cursor: default;
        border: 1px solid #101010;
        border-top: none;
        opacity: 0;
        @media (min-width: $screen-md) {
            max-height: 155px;
        }
        &>li {
            position: relative;
            color: #000;
            display: block;
            cursor: pointer;
            padding: 0 0 0 17px;
            text-align: left;
            line-height: 55px;
            font-weight: normal;
            font-size: 14px;
            &:hover {
                background: #4a90e2;
                color: #fff;
                .icon {
                    span,
                    span::before,
                    span::after {
                        border: 1px solid #fff;
                    }
                }
            }
            &[data-selected] {
                color: #444;
                background: #bcbcbc;
                border-left: 5px solid #2379d5;
                padding-left: 12px;
                &:hover {
                    background: #aeaeae;
                    .icon {
                        span,
                        span::before,
                        span::after {
                            border: 1px solid #2379d5;
                        }
                    }
                }
                .icon {
                    span,
                    span::before,
                    span::after {
                        background: #2379d5;
                        border: 1px solid #2379d5;
                    }
                }
            }
            .icon {
                position: absolute;
                top: 20px;
                right: 10px;
            }
            @media (min-width: $screen-md) {
                line-height: 30px;
                font-size: 13px;
                .icon {
                    top: 6px;
                    right: 7px;
                }
            }
        }
    }
    &.open {
        text-shadow: none;
        background: #b7b7b7;
        border-bottom: none;
        .display {
            background: #b7b7b7;
            color: #000;
        }
        .value {
            opacity: 0;
        }
        & > ul {
            display: inline-block;
            color: #000;
            background: #c5c5c5;
            height: auto;
            opacity: 1;
        }
        .select-button {
            background-position: 0 0;
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}