@charset "utf-8";
@import "../_vars.scss";
@import "../_mixins.scss";

/***** Text Area */

.textarea {
    margin-top: 20px;
    padding: 15px;
    background: $editor-bg-color;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: $editor-color;
    min-height: 150px;
    
    textarea {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        min-height: 150px;
        background: $editor-bg-color;
        color: $editor-color;
        font-size: $editor-font-size;
        line-height: $editor-line-height;
        font-family: $editor-font-family;
        border: none;
        outline: none;
    }
}